<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <type
            category="org.eclipse.linuxtools.ctf.tmf.core.category.ctf"
            event_type="org.lttng.scope.lttng.ust.core.trace.LttngUstEvent"
            id="org.eclipse.linuxtools.lttng2.ust.tracetype"
            isDirectory="true"
            name="%tracetype.type.ust"
            trace_type="org.lttng.scope.lttng.ust.core.trace.LttngUstTrace">
      </type>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.ui.tracetypeui">
      <type
            icon="icons/tracetype/lttng-ust.png"
            tracetype="org.eclipse.linuxtools.lttng2.ust.tracetype">
      </type>
   </extension>
</plugin>
