<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="lttng-scope-e4.6" sequenceNumber="46">

  <locations>
    <!-- Eclipse Common Build Infrastructure (still needed?) -->
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/cbi/updates/license"/>
    </location>

    <!-- Eclipse main repository -->
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.jdt.annotation" version="0.0.0"/>

      <unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ui.ide" version="0.0.0"/>

      <!-- RCP requires Equinox and ECF (for the self-update feature) -->
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.ui.sdk" version="0.0.0"/>

      <!-- Required for UI tests (not included in RCP) -->
      <unit id="org.eclipse.ui.ide.application" version="0.0.0"/>
      <unit id="org.eclipse.core.net" version="0.0.0"/>

      <unit id="org.eclipse.ant.core" version="0.0.0"/>

      <repository location="http://download.eclipse.org/eclipse/updates/4.6/"/>
    </location>

    <!-- e(fx)clipse for JavaFX integration -->
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.fx.runtime.min.feature.feature.group" version="2.5.0.201610130503"/>
      <repository location="http://download.eclipse.org/efxclipse/runtime-released/2.5.0/site/"/>
    </location>

    <!-- Core Java tracing libraries -->
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="com.efficios.jabberwocky.ctf" version="0.2.14.SNAPSHOT"/>
      <unit id="com.efficios.jabberwocky.core" version="0.2.14.SNAPSHOT"/>
      <unit id="com.efficios.jabberwocky.timegraph" version="0.2.14.SNAPSHOT"/>
      <unit id="com.efficios.jabberwocky.lttng" version="0.2.14.SNAPSHOT"/>

      <unit id="ca.polymtl.dorsal.libdelorean" version="0.6.6.SNAPSHOT"/>
      <unit id="org.eclipse.tracecompass.ctfreader" version="0.0.0"/>

      <!-- Release repo -->
      <!--
      <repository location="https://mvn.efficios.com/p2/releases"/>
      -->
      <!-- Snapshots repo -->
      <repository location="https://mvn.efficios.com/p2/snapshots"/>
    </location>

    <!-- CDT -->
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.cdt.core" version="0.0.0"/>
      <unit id="org.eclipse.cdt.core.native" version="0.0.0"/>
      <repository location="http://download.eclipse.org/tools/cdt/releases/9.1/r"/>
    </location>

    <!-- Dependencies packaged in Orbit -->
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="com.google.guava" version="21.0.0.v20170206-1425"/>
      <unit id="org.apache.commons.io" version="0.0.0"/>
      <unit id="org.json" version="0.0.0"/>
      <unit id="org.swtchart" version="0.7.0.v201201201914"/>
      
      <unit id="org.junit" version="0.0.0"/>
      <unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>

      <!-- For the CTF parser -->
      <unit id="org.antlr.runtime" version="3.2.0.v201101311130"/>
      <unit id="org.antlr.runtime.source" version="3.2.0.v201101311130"/>

      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20170307180635/repository/"/>
    </location>

    <!-- Trace Compass test traces -->
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.tracecompass.testtraces.tracecompass-test-traces-ctf" version="1.6.0"/>
      <repository location="http://archive.eclipse.org/tracecompass/tracecompass-test-traces/repository/1.6.0"/>
    </location>
  </locations>

  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>

  <launcherArgs>
    <vmArgs>-Xms40m -Xmx512M</vmArgs>
    <programArgs>-consolelog</programArgs>
  </launcherArgs>

</target>
