<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.lttng.scope.lttng.kernel.core.analysis.os.KernelAnalysisModule"
            automatic="true"
            id="org.eclipse.tracecompass.analysis.os.linux.kernel"
            name="%analysis.linuxkernel">
         <tracetype
               applies="true"
               class="org.lttng.scope.lttng.kernel.core.analysis.os.trace.IKernelTrace">
         </tracetype>
      </module>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <type
            category="org.eclipse.linuxtools.ctf.tmf.core.category.ctf"
            event_type="org.eclipse.tracecompass.ctf.tmf.core.event.CtfTmfEvent"
            id="org.eclipse.linuxtools.lttng2.kernel.tracetype"
            isDirectory="true"
            name="%tracetype.type.kernel"
            trace_type="org.lttng.scope.lttng.kernel.core.trace.LttngKernelTrace">
      </type>
   </extension>
</plugin>
