<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.ui.tracetypeui">
      <type
            icon="icons/obj16/garland16.png"
            tracetype="org.eclipse.linuxtools.lttng2.ust.tracetype">
      </type>
   </extension>
   <extension
         point="org.eclipse.tracecompass.tmf.ui.symbolProvider">
      <providerFactory
            class="org.lttng.scope.lttng.ust.ui.analysis.debuginfo.internal.UstDebugInfoSymbolProviderFactory"
            id="org.eclipse.tracecompass.lttng2.ust.ui.analysis.debuginfo.providerFactory"
            priority="50">
      </providerFactory>
   </extension>
</plugin>
