<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.ui.tracetypeui">
      <type
            icon="icons/obj16/garland16.png"
            tracetype="org.eclipse.linuxtools.lttng2.ust.tracetype">
      </type>
   </extension>
</plugin>
